@import './../../../../assets/colors.scss';

.fullname {
    font-family: 'Anta', sans-serif;
    font-size: 18px;
    font-weight: 400;
    grid-area: fullname;

    &-light {
        color: $midnight-blue;
    }

    &-dark {
        color: $white;
    }
}
