@import './../../../assets/mixins.scss';

.user-flex-container {
    @include flex(space-between, start);
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
        'avatar fullname joined-date'
        'avatar username username'
        '0 bio bio'
        '0 user-statistic user-statistic'
        '0 additional-data additional-data';
    column-gap: 16px;
    row-gap: 12px;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-areas:
            'avatar fullname'
            'avatar username'
            'avatar joined-date'
            'bio bio'
            'user-statistic user-statistic'
            'additional-data additional-data';
        column-gap: 24px;
        row-gap: 16px;
    }
}
